{% for message in app.flashes('notice') %}
<div class="flash-notice">
  {{ message }}
</div>
{% endfor %}

{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="flash-notice">
      {{ label }} - {{ message }}
    </div>
  {% endfor %}
{% endfor %}